#!/usr/bin/make -f

# The C++ HEALPix library does not build on GCC 4.4. If the program 'g++' is
# present, but its version number is less than 4.5, then use 'g++-4.3' instead.
GXX_VERSION=$(shell g++ --version | grep -oE '[0-9]+(\.[0-9]+)+' | head -n 1)
GXX=$(shell dpkg --compare-versions $(GXX_VERSION) ge 4.5 && echo g++ || echo g++-4.3)

# And the same for 'gcc' and 'gcc-4.3'.
GCC_VERSION=$(shell gcc --version | grep -oE '[0-9]+(\.[0-9]+)+' | head -n 1)
GCC=$(shell dpkg --compare-versions $(GCC_VERSION) ge 4.5 && echo gcc || echo gcc-4.3)

%:
	dh $@ 

override_dh_auto_configure:
	# no-op

override_dh_auto_build:
	# no-op

override_dh_auto_install:
	mkdir -p debian/tmp/usr/include
	mkdir -p debian/tmp/usr/lib
	mkdir -p debian/tmp/usr/bin
	$(MAKE) \
	LS_OPTFLAGS="-O3 -ffast-math -fomit-frame-pointer -fno-tree-vectorize" \
	CC="$(GCC) $(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)" \
	CXX="$(GXX) $(shell dpkg-buildflags --get CXXFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)" \
	CL="$(GCC) $(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get LDFLAGS)" \
	CXXL="$(GXX) $(shell dpkg-buildflags --get CXXFLAGS) $(shell dpkg-buildflags --get LDFLAGS)" \
	HEALPIX_TARGET=generic_gcc PREFIX=debian/tmp/usr \
	EXTERNAL_CFITSIO=yes CFITSIO_EXT_LIB=-lcfitsio
